# EditorConfig helps developers define and maintain consistent coding styles
# between different editors and IDEs.
#
# More information: http://editorconfig.org/
#
# Install the plugin for your IDE: http://editorconfig.org/#download

# Don't look for another .editorconfig file in parent directories
root = true

# Defaults to tab-indented (use smart-tabs)
[*]
charset = utf-8
indent_style = tab
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
